@font-face {
    font-family: 'rubikregular';
    src: url('./assets/fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
}

footer{
    background-color: #D7DBDD;
}

.cohort{
    font-size: 34px;
}

.carousel-item a{
    font-family: rubikregular;
    text-decoration: none;
    -webkit-text-stroke: 1px white;
    color: black; 
}

.navbar-nav a{
    font-family: rubikregular;
    font-size: 18px;
    text-decoration: none;
    color: black;
    
}

/*Estilo de Contact Us*/

.container-form{
    padding: 20px;
    background-color: #F2F3F4;
}

/*Estilo de Stats*/

.container table{
    border-collapse: collapse;
    border-color: black;
}
 
th {
    letter-spacing: 2px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}
  
td {
    letter-spacing: 1px;
}

thead{
    color: white;
    text-shadow: 1px 1px 1px black;
}
  
  
tbody td {
    text-align: center;
}
